AB_NYC_2019.csv
AB_NYC_2019.xlsx
IBA_Chapter_12_Slides_Final.pptx
Table of Contents.html
IFMG Final.docx
IFMG(with_images).docx
Project_1_Deliverable_1_Airbnb_Price_Analysis_Nangi_Mugira.docx
Updated_Comprehensive_NYC_Neighborhoods_with_ZIP_Codes.xlsx
AB Pivot tables.docx
Descriptive_Statistics_Airbnb.xlsx
Book1.twb